<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huson.mynotebook" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.AddEventActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            android:excludeFromRecents="true"
            android:permission="com.android.alarm.permission.SET_ALARM">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LookEventActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.AlarmActivity"
            android:theme="@style/dialog"
            />
        <!-- android:process=":remote": 新开一个进程 -->
        <receiver android:name=".utils.AlarmReceiver" android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.my.MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.my.MyWishActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.my.AddWishActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.my.MyListviewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.my.SettingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".view.ImageListview.ImagList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
